
<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
</head>

<body>

    <div id="userContainer">
        <h2 class="userTitle">Error, el usuario ya existe</h2>
    </div>

    <script src="/js/regRedirect.js"></script>

</body>

</html>