
<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
</head>

<body>

    <div id="userContainer">
        <h2 class="userTitle">Usuario o password incorrectos</h2>
        <a class='retryLogin' href="/api/login">Reintentar ingreso</a>
    </div>

</body>

</html>