<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head') %>
    <!-- Script normalizr -->
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.2/dist/normalizr.browser.min.js"></script>
    <!-- Script toastify -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <%- include('./partials/nav') %>

    <main id="main">
      <!-- <%- include('./partials/cards') %> -->
      <%- include('./partials/messages') %>
      <div class="CarTrackContainer">
        <p class="CarTrackP">Car<span class="CarTrackSpan">Track</span></p>
      </div>
    </main>

    <!-- Script toastify -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script src="/js/main.js"></script>
    <script src="/js/socketLogic.js"></script>
  </body>
</html>
