<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head') %>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css"
    />
  </head>

  <body>
    <%- include('./partials/nav') %>

    <h2 class="formTitle">Consulta por rango de fechas</h2>

    <div class="container mt-4">
      <form id="form-fechas">
        <div id="inputGroup" class="input-group">
          <span class="input-group-text">📅</span>
          <input
            type="text"
            id="rangoFechas"
            class="form-control"
            placeholder="Seleccionar rango de fechas"
            readonly
          />
          <div class="btnFormContainer">
            <button id="btnFormSubmit" class="btn btn-primary" type="submit">
              Consultar
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="card mb-3 shadow-sm" id="filtersCard">
      <div class="card-body">
        <div
          class="row g-3 align-items-top"
          style="justify-content: center; gap: 3rem"
        >
          <!-- Marca -->
          <div class="col-md-5">
            <label class="form-label fw-semibold">Marca</label>
            <select id="filtroMarca" class="form-select">
              <option value="">Todas</option>
            </select>
          </div>

          <!-- Checks -->
          <div class="col-md-5">
            <label class="form-label fw-semibold">Estadísticas</label>
            <div class="d-flex gap-4 flex-wrap">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="chkTopAreas"
                />
                <label class="form-check-label" for="chkTopAreas">
                  Top 5 Áreas dañadas
                </label>
              </div>

              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="chkTopAverias"
                />
                <label class="form-check-label" for="chkTopAverias">
                  Top 5 Tipos de daño
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="estadisticas" class="row g-3 mb-3"></div>

    <div
      class="justify-content-start align-items-center mt-2 mx-5 post-table-action"
    >
      <button
        id="btnLimpiarFiltros"
        class="btn btn-sm btn-outline-secondary ms-2"
      >
        Limpiar filtros
      </button>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="chkSoloConDanio" />
        <label class="form-check-label fw-semibold" for="chkSoloConDanio">
          Solo VIN con daño
        </label>
        <span id="badgeConDanio" class="badge bg-primary d-none"></span>
      </div>
      <div class="d-flex justify-content-end gap-3 mx-4">
        <button id="btnExportPdf" class="btn btn-outline-danger btn-sm">
          📄 PDF
        </button>
        <button id="btnExportExcel" class="btn btn-outline-success btn-sm">
          📊 Excel
        </button>
      </div>
    </div>

    <div id="resultados" class="container-fluid"></div>

    <div id="paginacion"></div>

    <div id="evolucion" class="mt-4 mb-5"></div>

    <script type="module" src="../../js/querys.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
      const rangoPicker = flatpickr("#rangoFechas", {
        mode: "range",
        dateFormat: "Y-m-d",
        locale: {
          firstDayOfWeek: 1,
        },
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
    <!-- PDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.29/jspdf.plugin.autotable.min.js"></script>

    <!-- Excel -->
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
  </body>
</html>
