
<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
</head>

<body>

    <div id="userContainer">
        <h2 class="userTitle">Usuario registrado con exito</h2>
        <a class='gotoLogin' href="/api/login">Ir a login</a>
    </div>

</body>

</html>