
<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
</head>

<body>

    <div id="userContainer">
        <h2 class="userTitle">Has superado el tiempo de inactividad o ya has cerrado sesión.  Serás redirigido al login...</h2>
    </div>

    <script src="/js/loginRedirect.js"></script>

</body>

</html>