<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head') %>
  </head>

  <body>
    <div id="userContainer">
      <h2 class="userTitle">No autorizado. Será redirigido al login...</h2>
    </div>

    <script src="/js/loginRedirect.js"></script>
  </body>
</html>
