
nav {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: rgb(24, 24, 24);
    height: 60px;
    position: fixed;
    top: 0;
}

nav ul{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 20px;
    min-width: 575px;
}

.navBrand{
    display: flex;
    align-items: center;
    height: 100%;
    width: 35%;
    text-align: left;
    margin-left: 20px;
    min-width: 222px;
}

nav ul li{
    display: inline;
    margin: 20px;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(41, 238, 242);
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    transition: border-color .3s;
}

nav ul li:hover{
    border-color: rgb(41, 238, 242);
}

.brandName{
    color: rgb(41, 238, 242);
    border: none;
    font-family: 'Play', sans-serif;
    font-size: 1.6rem;
    transition: text-shadow .3s ease-in-out;
}

.brandName:hover{
    text-shadow: 0px 0px 18px rgb(41, 238, 242);
}

.IE{
    font-size: 2.5rem;
}

.carrito{
    border: none;
    margin-right: 20px;
}

.link,
.linkCarrito{
    text-decoration: none;
    color: rgb(41, 238, 242);
}