<footer>
  <div class="footerLogo">
    <img
      class="footeLogoImg"
      src="/icons/cooptacord-logo.png"
      alt="logo cooptacord"
    />
  </div>
  <div>
    <p class="footerDescription">
      SISTEMA DE SEGUIMIENTO DE VEHICULOS Y REGISTRO DE DAÑOS
    </p>
  </div>
  <div>
    <p class="copyRight">&copy; 2024 webCarTrack. All rights reserved</p>
  </div>
</footer>
