<nav class="navbar">
  <div class="navbar-left">
    <div class="CarTrackContainer">
      <p class="CarTrackP">Car<span class="CarTrackSpan">Track</span></p>
    </div>
  </div>

  <ul class="navbar-center">
    <li>Inicio</li>
    <li>Vehículos</li>
    <li>Daños</li>
    <li>Reportes</li>
  </ul>
  <div class="navbar-right">
    <div class="dropdown">
      <ul>
        <li style="list-style-type: none;">
          <span class="material-symbols-outlined user-icon">
            account_circle
          </span>
          <span class="user-name"><%= userName %></span>
        </li>
      </ul>
      <div class="dropdown-content">
        <% if (userName === 'admin@admin.com') { %>
            <a class="itemLink" href="/api/userdata/usersadmin">Usuarios</a>
        <% } %>
        <a class="itemLink" href="/api/userdata">Mis datos</a>
        <a class="itemLink" href="/api/logout">Logout</a>
      </div>
    </div>
  </div>
</nav>
