<nav class="navbar">
  <div class="navbar-left">
    <div class="CarTrackContainer">
      <p class="CarTrackP">Car<span class="CarTrackSpan">Track</span></p>
    </div>
  </div>

  <ul class="navbar-center">
    <li>Inicio</li>
    <li>Vehículos</li>
    <li>Daños</li>
    <li>Reportes</li>
  </ul>

  <div class="navbar-right">
    <span class="material-symbols-outlined user-icon"> account_circle </span>
    <span class="user-name">Diego</span>
    <span class="material-symbols-outlined"> expand_more </span>
  </div>
</nav>
