
.itemCountContainer{
    display: flex;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    margin: 20px 0px;
}

.sumar,
.cantidad,
.restar{
    margin: 0px 10px;
    user-select: none;
}

.sumar,
.restar{
    cursor: pointer;
}

.sinStock{
    display: none;
}

.comprar{
    padding: 8px 15px;
    border: none;
    background-color: rgb(41, 41, 41);
    color: white;
    margin-bottom: 15px;
    width: 102px;
    height: 32px;
    font-weight: bold;
    transition: all .3s;
}

.comprar:hover{
    background-color: rgb(41, 238, 242);
    color: black;
}

.comprar:active{
    translate: 2px 2px;
}